<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fruit_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,53}</string>
                <key>spriteSourceSize</key>
                <string>{62,53}</string>
                <key>textureRect</key>
                <string>{{2,2},{62,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,199}</string>
                <key>spriteSourceSize</key>
                <string>{228,199}</string>
                <key>textureRect</key>
                <string>{{211,435},{228,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,70}</string>
                <key>spriteSourceSize</key>
                <string>{79,70}</string>
                <key>textureRect</key>
                <string>{{65,2},{79,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,91}</string>
                <key>spriteSourceSize</key>
                <string>{99,91}</string>
                <key>textureRect</key>
                <string>{{145,2},{99,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,103}</string>
                <key>spriteSourceSize</key>
                <string>{115,103}</string>
                <key>textureRect</key>
                <string>{{245,2},{115,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,124}</string>
                <key>spriteSourceSize</key>
                <string>{131,124}</string>
                <key>textureRect</key>
                <string>{{2,106},{131,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,133}</string>
                <key>spriteSourceSize</key>
                <string>{152,133}</string>
                <key>textureRect</key>
                <string>{{134,106},{152,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,151}</string>
                <key>spriteSourceSize</key>
                <string>{169,151}</string>
                <key>textureRect</key>
                <string>{{287,106},{169,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,160}</string>
                <key>spriteSourceSize</key>
                <string>{184,160}</string>
                <key>textureRect</key>
                <string>{{2,258},{184,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,183}</string>
                <key>spriteSourceSize</key>
                <string>{208,183}</string>
                <key>textureRect</key>
                <string>{{2,435},{208,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fruit_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,176}</string>
                <key>spriteSourceSize</key>
                <string>{294,176}</string>
                <key>textureRect</key>
                <string>{{187,258},{294,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fruits.png</string>
            <key>size</key>
            <string>{483,636}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:16d27dbf8c6079c38b639219a7cbd88a:346b2ffeac8cf23f133e86a3ce9dba3f:56755924368b5e18801fdad7263bb90b$</string>
            <key>textureFileName</key>
            <string>fruits.png</string>
        </dict>
    </dict>
</plist>
